.card{
   
     height:100px;
     background-color: red;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB-U6ZWKoXQc73Yt3fz3wnkQbu8VLMakZ6aw&usqp=CAU");
     
}