@import "../../mixin.scss";
.navbar{
     
     min-width: 100vw;
     display: flex;
     justify-content: space-between;
     position:fixed;
     top:0;
     padding: 3px;
     background-color: white;
   z-index: 3;
   @include md{ 
      background-color: transparent;
   }
}
.navbar:hover{
     background-color: white;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
ul{
     display: flex;
     gap: 10px;
     list-style: none;
}
